<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LifeUser">
	<resultMap id="BaseResultMap" type="com.napoleon.life.core.entity.LifeUser">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_no" property="userNo" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="activate_code" property="activateCode" jdbcType="VARCHAR" />
		<result column="activate_status" property="activateStatus"
			jdbcType="TINYINT" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="safety_code" property="safetyCode" jdbcType="VARCHAR" />
		<result column="safety_code_time" property="safetyCodeTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_no, user_name, email, password, sex, phone, activate_code,
		activate_status, status, create_date, address, update_time, safety_code, safety_code_time 
	</sql>

	<insert id="insert" parameterType="com.napoleon.life.core.entity.LifeUser"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO life_user ( user_no, user_name, email, password, sex, phone, activate_code,
		activate_status, status, create_date, address, update_time, safety_code, safety_code_time) VALUES(
		#{userNo, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR}, #{email,
		jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{sex,
		jdbcType=VARCHAR}, #{phone, jdbcType=VARCHAR}, #{activateCode, jdbcType=VARCHAR}, #{activateStatus,
		jdbcType=TINYINT}, #{status, jdbcType=TINYINT}, #{createDate,
		jdbcType=TIMESTAMP}, #{address, jdbcType=VARCHAR}, #{updateTime,
		jdbcType=TIMESTAMP}, #{safetyCode, jdbcType=VARCHAR}, #{safetyCodeTime,
		jdbcType=TIMESTAMP} )
	</insert>

	<update id="update" parameterType="com.napoleon.life.core.entity.LifeUser">
		update LIFE_USER
		<set>
			<if test="userNo != null">
				user_no = #{userNo, jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName, jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email, jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password, jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex, jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone, jdbcType=VARCHAR},
			</if>
			<if test="activateCode != null">
				activate_code = #{activateCode, jdbcType=VARCHAR},
			</if>
			<if test="activateStatus != null">
				activate_status = #{activateStatus, jdbcType=TINYINT},
			</if>
			<if test="status != null">
				status = #{status, jdbcType=TINYINT},
			</if>
			<if test="createDate != null">
				create_date = #{createDate, jdbcType=TIMESTAMP},
			</if>
			<if test="address != null">
				address = #{address, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="safetyCode != null">
				safety_code = #{safetyCode, jdbcType=VARCHAR},
			</if>
			<if test="safetyCodeTime != null">
				safety_code_time = #{safetyCodeTime, jdbcType=TIMESTAMP},
			</if>
		</set>

		where id = #{id, jdbcType=BIGINT}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM life_user WHERE id = #{id, jdbcType=BIGINT}
	</delete>

	<select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM life_user WHERE id = #{id, jdbcType=BIGINT}
	</select>


	<select id="getAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM life_user
	</select>

	<select id="findByEmail" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM life_user where email = #{email, jdbcType=VARCHAR}
	</select>
	
	<select id="findByUserNo" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM life_user where user_no = #{userNo, jdbcType=VARCHAR}
	</select>

</mapper>